.link-button {
    margin-top: 3px;
    margin-right: 10px;
    vertical-align: top;
    color: #d95d39; /* Tonos cálidos inspirados en el rojo terracota */
    float: right;
    border-color: #d95d39; /* Bordes que combinan con el texto */
    background-color: #f7c59f; /* Fondo cálido con tonos beige */
    padding: 5px 10px; /* Agregado para mejorar el diseño del botón */
    border-radius: 5px; /* Bordes redondeados para suavizar la apariencia */
    font-weight: bold; /* Fuente más destacada */
    transition: all 0.3s ease-in-out; /* Animación suave */
}

.link-button:hover {
    color: #f7e7ce; /* Cambia a un tono claro y cálido en hover */
    border-color: #f4a261; /* Tono cálido de naranja */
    background-color: #e76f51; /* Fondo más intenso al pasar el cursor */
    cursor: pointer; /* Indicador visual de interacción */
}
